@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&family=Lobster&display=swap');


.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgb(255, 1, 1));
}

.menu {
  /*font-family: 'Bungee Spice', cursive;*/
  font-family: 'Lobster', cursive;
  
}
.final{
  font-family: 'Great Vibes', cursive;
}

.img {
  background-size: cover;
  background-image: url(/images/cars.png);
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: bottom right;
}